page-friend-profile {

  	.friend-profile-cation{
  		margin-left: 10px;
      	font-weight: bold;
      	font-size: 1.7rem;
      	margin-top: 12px;
  	}
  	.friend-profile-backbtn{
  		background: none !important;
      	box-shadow: none !important;
      	color: #000 !important;
      	margin-top: -9px;
  	}

  }
